{%  extends 'barber/base.html' %}
{%  block title %}Добавление поста{% endblock %}

{% block content %}
    <div class="form-error">{{ form.non_field_errors }}</div> <!-- для вывода ошибки валидации -->
    <h2>Страница добавления</h2>
    <!-- спецформа в HTML  для несвязанных таблиц -->
    <!-- через атрибут action связываемся через адрес страницы с функцией-->
    <form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}  <!--защита от злых людей -->
    {{ form.as_p }}   <!-- as_p это функция, вынимающая поля из формы с применением тега <p> -->
    <button type="submit">Добавить</button>
</form>
{%  endblock %}