{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{%  block title %}{% endblock %}</title>
	<link type="text/css" href="{% static 'barber/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'barber/images/barber.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
<!-- % block mainmenu % -->
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="#"><div class="logo"></div></a></li>
			<li><a href="{%  url 'about' %}">Контакты</a></li>
                <li class="last"><a href="{%  url 'add_page' %}">Добавить статью</a></li>
                <li class="last"><a href="{%  url 'contact' %}">Обратная связь</a></li>
                <li class="last"><a href="#">Галерея</a></li>
			<li class="last"><a href="{%  url 'home' %}">Главная</a></li>
			</ul>
			<div class="clear"></div>
		</div>
<!--% endblock mainmenu % -->


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li><a href="#">Бороды</a></li>
		<li><a href="#">Усы</a></li>
		<li><a href="#">Шевелюры</a></li>
		<li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="#" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- Конец Sidebar -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- главный блок -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- конец блока  -->

</td></tr></table>
</td></tr>
<!-- подвал -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 на Коваленко Александра Васильевича ссылаться строго запрещено! Он ни при чем.</p>
	</div>
</td></tr></table>
<!-- Конец подвала -->
</body>
</html>
